@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  background-color: #35373d;
}

h1 {
  color: white;
}

.inner-container {
  padding: 1rem;
  border: solid #5a89cc 5px;
  border-radius: 20px;
  background-color: #5a89cc;
  box-shadow: 0 6px 8px rgba(0,0,0,0.15);

}

.content-container {
  padding: 1rem;
  border-radius: 10px;
  border: dashed #c4c4c4 5px;
  background-color: white;
}

.container {
  padding: 3rem;
}

button {
  background-color: #050A30;
  color: white;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  padding: 5px;
  margin: 1rem;
}

button:hover {
  background-color: #292f7e;
  transform: translateY(-2px);
  box-shadow: 0 6px 8px rgba(0,0,0,0.15);
}

button:active {
  transform: translateY(0);
  box-shadow: 0 3px 4px rgba(0,0,0,0.1);
}

.header {
  width: auto;
  padding: 2rem 0 2rem 3rem;
  height: 10rem;
  background-color: #5a89cc;
}


